/*--------------------------------------------DEBUT RESET CSS-------------------------------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
/*
ol, ul {
	list-style: none;
}*/
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*--------------------------------------------FIN RESET CSS-------------------------------------------------*/
@font-face {
  font-family: 'ProximaNova';
  src: url('fonts/proximanova_regular.ttf') format('ttf');
}

h1,h2,h3,p {
	font-family: 'ProximaNova', sans-serif;
}
h1,h2,h3{
	font-weight:bold;
}
h2{
	margin-top:20px;
	margin-bottom:15px;
	font-size:20px;
}
h3{
	margin:10px 0;
}
header{
	background-color:blue;
	height:70px;
}
header a{
	float:right;
}
header a img{
	height:50px;
	margin:10px 10px;
}
header h1{
	float:left;
	font-size:30px;
	margin-top:15px;
	margin-left:20px;
}
body{
	background-color:#f3f3f3;
}
#sectionPrincipale{
	width:60%;
	margin-left:15%;
	padding:50px 5% 20px 5%;	
	background-color:white;
}
#logoSOS{
	text-align:center;
}
#logoSOS img{
	width:30%;
}
#traitSeparateur{
	width:70%;
	height:3px;
	margin:30px 0 30px 15%;
	background-color:black;
	border-radius:100px;
}
#sectionPrincipale p{
	margin-left:50px;
}
.etat{
	margin-left:40px;
	margin-bottom:10px;
}
li a{
	margin-left:10px;
}
.tradafaire li{
	margin-bottom:10px;
}
footer{
	background-color:red;
	height:100px;
}